.btn {
  font-size: 1.6rem;
  cursor: pointer;
  outline: none;
  border-radius: 3px;
  line-height: 1;
  font-weight: 600;
  transition: 0.3s;
  white-space: nowrap;
  text-decoration: none;
  border: none;

  @include fontSmooth;
}

.btn-small {
  padding: $space--xs $space--sm;
}
.btn-medium {
  padding: $space--sm $space--md;
}

.btn-large {
  padding: $space--md $space--lg;
  font-size: 2rem;
}

.btn-primary {
  color: theme-colors("text", "white");
  background-color: theme-colors("bg-color", "primary");

  &:hover {
    background-color: tint-shade-color-control(black, "bg-color", "primary", 1);
  }

  &--light {
    color: theme-colors("text", "primary-light--text");
    background-color: theme-colors("bg-color", "primary--light");

    &:hover {
      background-color: tint-shade-color-control(white, "bg-color", "primary", 7);
    }
  }
}

.btn-secondary{
  color: theme-colors("text", "white");
  background-color: theme-colors("bg-color", "secondary-dark");

  &:hover {
    background-color: tint-shade-color-control(black, "bg-color", "secondary-dark", 1);
  }

  &--light {
    color: theme-colors("text", "secondary-light--text");
    background-color: theme-colors("bg-color", "secondary--light");

    &:hover {
      background-color: tint-shade-color-control(white, "bg-color", "secondary-dark", 7);
    }
  }
}

.btn-success {
  color: theme-colors("text", "white");
  background-color: theme-colors("bg-color", "success");

  &:hover {
    background-color: tint-shade-color-control(black, "bg-color", "success", 1);
  }

  &--light {
    color: theme-colors("text", "success-light--text");
    background-color: theme-colors("bg-color", "success--light");

    &:hover {
      background-color: tint-shade-color-control(white, "bg-color", "success", 7);
    }
  }
}

.btn-danger {
  color: theme-colors("text", "white");
  background-color: theme-colors("bg-color", "danger");

  &:hover {
    background-color: tint-shade-color-control(black, "bg-color", "danger", 1);
  }

  &--light {
    color: theme-colors("text", "danger-light--text");
    background-color: theme-colors("bg-color", "danger--light");

    &:hover {
      background-color: tint-shade-color-control(white, "bg-color", "danger", 7);
    }
  }
}

.btn-warning {
  color: theme-colors("text", "white");
  background-color: theme-colors("bg-color", "warning");

  &:hover {
    background-color: tint-shade-color-control(black, "bg-color", "warning", 1);
  }

  &--light {
    color: theme-colors("text", "warning-light--text");
    background-color: theme-colors("bg-color", "warning--light");

    &:hover {
      background-color: tint-shade-color-control(white, "bg-color", "warning", 8);
    }
  }
}
