/* Typography */

/* 
  https://type-scale.com

  Type Scales: 

  Major Second - 1.125
  Minor Third - 1.200
  Major Third - 1.250
  Perfect Fourth - 1.333
  Augument Fourth - 1.414
  Perfect Fith - 1.500

*/


/* This project uses Major Third Scale - 1.250 */
:root {
  --text-base-size: 1.6rem;
  --text-scale-ratio: 1.25;
  --space-unit: 1.6rem;
  /* line-height */
  --heading-line-height: 1.2;
  --body-line-height: 1.5;
}


$text--xxs: calc(var(--text-base-size) / (var(--text-scale-ratio) / var(--text-scale-ratio)));
$text--xs: calc(var(--text-base-size) / var(--text-scale-ratio));
$text--sm: calc(var(--text-base-size));
$text--md: calc(var(--text-base-size) * var(--text-scale-ratio));
$text--lg: calc(var(--text-base-size) * var(--text-scale-ratio) * var(--text-scale-ratio));
$text--xl: calc(var(--text-base-size) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
$text--2xl: calc(var(--text-base-size) *
  var(--text-scale-ratio) *
  var(--text-scale-ratio) *
  var(--text-scale-ratio) *
  var(--text-scale-ratio));
$text--3xl: calc(var(--text-base-size) *
  var(--text-scale-ratio) *
  var(--text-scale-ratio) *
  var(--text-scale-ratio) *
  var(--text-scale-ratio) *
  var(--text-scale-ratio));
$text--display: calc(var(--text-base-size) *
  var(--text-scale-ratio) *
  var(--text-scale-ratio) *
  var(--text-scale-ratio) *
  var(--text-scale-ratio) *
  var(--text-scale-ratio) *
  var(--text-scale-ratio));

$text--display-xl: calc(var(--text-base-size) *
  var(--text-scale-ratio) *
  var(--text-scale-ratio) *
  var(--text-scale-ratio) *
  var(--text-scale-ratio) *
  var(--text-scale-ratio) *
  var(--text-scale-ratio) *
  var(--text-scale-ratio));

$text--display-2xl: calc(
  var(--text-base-size) *
  var(--text-scale-ratio) *
  var(--text-scale-ratio) *
  var(--text-scale-ratio) *
  var(--text-scale-ratio) *
  var(--text-scale-ratio) *
  var(--text-scale-ratio) *
  var(--text-scale-ratio) *
  var(--text-scale-ratio));


@include breakpoint(md) {
  :root {
    --text-base-size: 1.6rem;
    --text-scale-ratio: 1.20;
  }
}

/* text size */

.text--display-2xl {
  font-size: $text--display-2xl;
}
.text--display-xl {
  font-size: $text--display-xl;
}
.text--display {
  font-size: $text--display;
}
h1,
.text--3xl {
  font-size: $text--3xl;
}
h2,
.text--2xl {
  font-size: $text--2xl;
}
h3,
.text--xl {
  font-size: $text--xl;
}
h4,
.text--lg {
  font-size: $text--lg;
}
.text--md {
  font-size: $text--md;
}
.text--sm {
  font-size: $text--sm;
}
.text--xs {
  font-size: $text--xs;
}
.text--xxs {
  font-size: $text--xxs;
}

h1,
h2,
h3,
h4,
form legend {
  margin-bottom: $space--xxs;
  line-height: $heading-line-height;
}

ul,
ol,
p:not(:last-of-type) {
  margin-bottom: $space--sm;
  line-height: $body-line-height;
}
ul li,
ol li,
span {
  line-height: $body-line-height;
}

