{{define "base"}}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.18/dist/css/uikit.min.css" />
        <title>{{template "title" .}} - SnippetBox</title>
    </head>
    <body>
    <nav>
        <nav class="uk-navbar-container uk-margin" uk-navbar="mode: click">
            <div class="uk-navbar-left">

                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="/">SnippetBox</a></li>
                    <li><a href="/">Home</a></li>
                    <li><a href="/snippet/create">Create Snippet</a></li>
                </ul>

            </div>
            <div class="uk-navbar-right">

                <ul class="uk-navbar-nav">
                    <li><a href="/user/signup">Sign Up</a></li>
                    <li><a href="/user/login">Login</a></li>
                </ul>
                <form action="/user/logout" method="post" class="uk-padding-small">
                    <button class="uk-button uk-button-default"><a href="#">Logout</a></button>
                </form>

            </div>
        </nav>

    </nav>
    <main class="uk-container uk-container-small">
        {{ with .Flash}}
            <div class="uk-alert-success" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <p>{{.}}</p>
            </div>
        {{end}}
        {{ template "main" .}}
    </main>

    {{ template "footer" .}}

    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.18/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.18/dist/js/uikit-icons.min.js"></script>
    </body>
    </html>

{{end}}