{{ template "base" .}}

{{ define "title"}} Create a new snippet {{end}}

{{define "main"}}
    <form action='/snippet/create' method="post">
        {{ with .Form}}
        <fieldset class="uk-fieldset">
            <div class="uk-margin">
                <label>Title</label>
                 {{ with .Errors.Get "title"}}
                     <div class="uk-form-danger">
                         <p>{{.}}</p>
                     </div>
                 {{end}}
                 <input class="uk-input uk-form-large {{ with .Errors.Get "title"}} uk-form-danger  {{end}}" type="text" name="title" placeholder="Title" value="{{.Get "title"}}">
            </div>
            <div class="uk-margin">
                <label>Content</label>
                {{ with .Errors.Get "content"}}
                    <div class="uk-form-danger">
                        <p>{{.}}</p>
                    </div>
                {{end}}
                <textarea class="uk-textarea uk-form-large {{ with .Errors.Get "content"}} uk-form-danger  {{end}}" rows="5" name="content" placeholder="Content">{{ .Get "content"}}</textarea>
            </div>
            <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                <p>Delete in:</p>
                {{ with .Errors.Get "expires"}}
                    <div class="uk-form-danger">
                        <p>{{.}}</p>
                    </div>
                {{end}}
                {{$exp := or (.Get "expires") "365"}}
                    <input class="uk-radio" type="radio" name="expires" value="365" {{if (eq $exp "365")}}  checked {{end}}>One Year


                    <input class="uk-radio" type="radio" name="expires" value="7" {{if ( eq $exp "7")}}  checked {{end}}>One Weak


                    <input class="uk-radio" type="radio" name="expires" value="1" {{if (eq $exp "1")}}  checked {{end}}>One Day

            </div>
            <button type="submit" class="uk-button uk-button-primary">Publish Snippet</button>
        </fieldset>
        {{end}}
    </form>

{{end}}