{{ template "base" .}}

{{define "title"}}Home{{end}}
{{define "main"}}
<main class="uk-container uk-container-small">
    <h2>Latest Snippets</h2>
    {{if .Snippets}}
    <table class="uk-table uk-table-responsive uk-table-divider">
        <thead>
        <tr>
            <th>Title</th>
            <th>Created</th>
            <th>Expires</th>
            <th>Id</th>
        </tr>
        </thead>
        <tbody>
        {{ range .Snippets}}
        <tr>
            <td><a href='/snippet/{{.ID}}'>{{.Title}}</a></td>
            <td>{{.Created | humanDate}}</td>
            <td>{{.Expires | humanDate}}</td>
            <td>{{.ID}}</td>
        </tr>
        {{end}}
        </tbody>
    </table>
    {{else}}
        <p>There's nothing to see here yet!</p>
    {{end}}
</main>
{{end}}

