{{ template "base" .}}

{{define "title"}}Home{{end}}
{{define "main"}}
<main class="uk-container uk-container-small">
    <h2>Latest Snippets</h2>
    <p>There's nothing to see here yet!</p>
</main>
{{end}}

