{{ template "base" .}}

{{define "title"}}Snippet #{{.Snippet.ID}}{{end}}

{{define "main"}}
    {{ with .Snippet }}
    <div class='snippet'>
        <div class='metadata' style="display: flex; justify-content: space-between;">
            <strong>Title: {{.Title}}</strong>
            <span>#{{.ID}}</span>
        </div>
        <pre class="uk-background-muted"><code style="color: #212121;">{{.Content}}</code></pre>
        <div class='metadata'>
            <time>Created: {{.Created}} </time>
            <time>Expires: {{.Expires}}</time>
        </div>
    </div>
        {{end}}
{{end}}